._wallet ._button {
  font-size: 16px !important;
}
._wallet ._wallet-item img,
._wallet ._wallet-item svg {
  width: 50px !important;
  height: 50px !important;
}
._wallet ._wallet-item svg path {
  width: 50px !important;
  height: 50px !important;
}
._wallet ._wallet-item h2 {
  background-color: #121212;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  width: 160px;
  font-size: 20px;
}
._wallet ._wallet-item {
  background-color: #242424;
  padding: 1rem;
  /* box-shadow: 0px 0px 24px var(--redcc); */
  width: 200px;
  gap: 0.75rem;
  flex-direction: column;
  display: flex;
  font-weight: 400;
}
._wallet ._wallet-item {
}
